<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <div class="container">

        <header class="section-header text-center mb-5 pb-2">
          <h1>About Us</h1>
          <p>We are Iris! A team of designers, developers and digital markerters in the HNG6.0 Internship. Launched in September 2019, Iris Goal Tracker App is the first product released by Team Iris. As Mark Victor Hansen said "By recording your dreams and goals, you set in motion the process of becoming the person you most want to be..." 

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.webp" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p class="text-center">
                To utilize the power of technology in setting and reaching goals...
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.webp" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p class="text-center">
               We Plan to integrate Artificial Intelligence to hitting your set targets.
              </p>
            </div>
          </div>
          
          
 <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.webp" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p class="text-center">
                To see you achieve more success in reaching more of your goals with Iris Goal Tracker.               
              </p>
            </div>
          </div>

        </div>

      </div>
</body>
</html>