{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <title>LazyApp</title>
</head>
<body>
    <div class="header">
        <div class="container-fluid">
           <div class="row d_flex">
              <div class=" col-md-2 col-sm-3 col logo_section">
                 <div class="full">
                    <div class="center-desk">
                       <div class="logo">
                          <a href="index.html"><img src="/static/users/images/sloth.png" alt="Picture" width="100" height="100"/></a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-8 col-sm-12">
                 <nav class="navigation navbar navbar-expand-md navbar-dark ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExample04">
                       <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                             <a class="nav-link" href="index.html">Home</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="about.html">About</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="skating.html">skating</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="shop.html">shop</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="contact.html">Contact Us</a>
                          </li>
                       </ul>
                    </div>
                 </nav>
              </div>
              <div class="col-md-2">
                 <!-- <ul class="email text_align_right">
                    <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                 </ul> -->
              </div>
           </div>
        </div>
     </div>
    
</body>
</html>